GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5000/api/auth/google/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:5000/api/auth/github/callback
JWT_SECRET=
FRONTEND_URL=http://localhost:5173
NODE_ENV=
DATABASE_URL=postgresql://postgres:mysecretpassword@localhost:5432/postgres
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
AI_SERVICE_URL=http://localhost:8000
REDIS_URL=redis://localhost:6379